body
{
    background-color: #E8E8E8;
    font-family: Arial;
}

img
{
    width: 480px;
    height: 300px;
}

.header-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("img/pattern.png");
    width: 100%;
    height: auto;
}

.header-container span
{
    font-size: 3em;
    background-color:white;
}

.speaker-container
{
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    margin-top: 1em;
}

.speaker-container span
{
    font-size: 3em;
}

.answers-container
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2em;
}

.answer-text
{
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}